{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "linebreak-style": 0,
        "import/extensions": [ "error", "always", { "ignorePackages": true } ],
        "react/prop-types": "off"
    }
}