table.bordered-table {
  border-collapse: collapse;
  width: 100%;
}

table.bordered-table th, td {
  border: 1px solid rgb(72, 6, 75); 
  padding: 4px;
}

.productAddTable {
  width: 100%;
}

.labels {
  font-weight: bold;
}

h1 {
  color: #720f5d;
}

.button {
  background-color: pink !important;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}

.inputs {
background-color: #f8cbee;
border-width: 0.1px;
}

.panel-title a {
  display: block; 
  width: 100%; 
  cursor: pointer;
}

table.table-hover tr {
  cursor: pointer;
}